<div class="welcomeImg">
<%= image_tag("livstyle_main_logo_copy.png", alt: "Rails")%>
</div>
<nav class="navbar navbar-primary" role="navigation">
  <div class="container">
	  <div class="body">
	  <ul class="nav navbar-nav">
		  <li class="btn-primary"> <a href="#">Manage Account</a></li>
		  <li><a href ="#">Manage User</a></li>
		  <li class="btn-sample"><a href ="#">View Content</a></li>
		  <li><a href ="#">Additional Resources</a></li>
		  <li><a href ="#">Exit Account</a></li>
	  </ul>
  </div>
  </div>
</nav>
